* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;

}

.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5;
}

.profile {
    border-radius: 20px 0px 20px 0px;
}